roundcube showing "(no subject)"

I'm using the main branch.
Roundcube showing "(no subject)" while the subject is present in the headers.
I checked "FETCH command (RFC3501)" is returning an empty body?!

![image](https://github.com/dbmail/dbmail/assets/1261332/381696c1-1d58-4cd3-9897-1265b1bb9bda)


@alan-hicks 

```
/**
     * FETCH command (RFC3501)
     *
     * @param string $mailbox     Mailbox name
     * @param mixed  $message_set Message(s) sequence identifier(s) or UID(s)
     * @param bool   $is_uid      True if $message_set contains UIDs
     * @param array  $query_items FETCH command data items
     * @param string $mod_seq     Modification sequence for CHANGEDSINCE (RFC4551) query
     * @param bool   $vanished    Enables VANISHED parameter (RFC5162) for CHANGEDSINCE query
     *
     * @return array List of rcube_message_header elements, False on error
     * @since 0.6
     */
    public function fetch($mailbox, $message_set, $is_uid = false, $query_items = [],
        $mod_seq = null, $vanished = false)
    {
        if (!$this->select($mailbox)) {
            return false;
        }

        $message_set = $this->compressMessageSet($message_set);
        $result      = [];

        $key      = $this->nextTag();
        $cmd      = ($is_uid ? 'UID ' : '') . 'FETCH';
        $request  = "$key $cmd $message_set (" . implode(' ', $query_items) . ")";

        if ($mod_seq !== null && $this->hasCapability('CONDSTORE')) {
            $request .= " (CHANGEDSINCE $mod_seq" . ($vanished ? " VANISHED" : '') .")";
        }

        if (!$this->putLine($request)) {
            $this->setError(self::ERROR_COMMAND, "Failed to send $cmd command");
            return false;
        }

        do {
            $line = $this->readFullLine(4096);

            if (!$line) {
                break;
            }

            // Sample reply line:
            // * 321 FETCH (UID 2417 RFC822.SIZE 2730 FLAGS (\Seen)
            // INTERNALDATE "16-Nov-2008 21:08:46 +0100" BODYSTRUCTURE (...)
            // BODY[HEADER.FIELDS ...

            if (preg_match('/^\* ([0-9]+) FETCH/', $line, $m)) {
                $id = intval($m[1]);

                $result[$id]            = new rcube_message_header;
                $result[$id]->id        = $id;
                $result[$id]->subject   = '';
                $result[$id]->messageID = 'mid:' . $id;

                $headers = null;
                $line    = substr($line, strlen($m[0]) + 2);

                // Tokenize response and assign to object properties
                while (($tokens = $this->tokenizeResponse($line, 2)) && count($tokens) == 2) {
                    list($name, $value) = $tokens;
                    if ($name == 'UID') {
                        $result[$id]->uid = intval($value);
                    }
                    else if ($name == 'RFC822.SIZE') {
                        $result[$id]->size = intval($value);
                    }
                    else if ($name == 'RFC822.TEXT') {
                        $result[$id]->body = $value;
                    }
                    else if ($name == 'INTERNALDATE') {
                        $result[$id]->internaldate = $value;
                        $result[$id]->date         = $value;
                        $result[$id]->timestamp    = rcube_utils::strtotime($value);
                    }
                    else if ($name == 'FLAGS') {
                        if (!empty($value)) {
                            foreach ((array)$value as $flag) {
                                $flag = str_replace(['$', "\\"], '', $flag);
                                $flag = strtoupper($flag);

                                $result[$id]->flags[$flag] = true;
                            }
                        }
                    }
                    else if ($name == 'MODSEQ') {
                        $result[$id]->modseq = $value[0];
                    }
                    else if ($name == 'ENVELOPE') {
                        $result[$id]->envelope = $value;
                    }
                    else if ($name == 'BODYSTRUCTURE' || ($name == 'BODY' && count($value) > 2)) {
                        if (!is_array($value[0]) && (strtolower($value[0]) == 'message' && strtolower($value[1]) == 'rfc822')) {
                            $value = [$value];
                        }
                        $result[$id]->bodystructure = $value;
                    }
                    else if ($name == 'RFC822') {
                        $result[$id]->body = $value;
                    }
                    else if (stripos($name, 'BODY[') === 0) {
                        $name = str_replace(']', '', substr($name, 5));

                        if ($name == 'HEADER.FIELDS') {
                            // skip ']' after headers list
                            $this->tokenizeResponse($line, 1);
                            $headers = $this->tokenizeResponse($line, 1);
                        }
                        else if (strlen($name)) {
                            $result[$id]->bodypart[$name] = $value;
                        }
                        else {
                            $result[$id]->body = $value;
                        }
                    }
                }

                // create array with header field:data
                if (!empty($headers)) {
                    $headers = explode("\n", trim($headers));
                    $lines   = [];
                    $ln      = 0;

                    foreach ($headers as $resln) {
                        if (!isset($resln[0]) || ord($resln[0]) <= 32) {
                            $lines[$ln] = ($lines[$ln] ?? '') . (empty($lines[$ln]) ? '' : "\n") . trim($resln);
                        }
                        else {
                            $lines[++$ln] = trim($resln);
                        }
                    }

                    foreach ($lines as $str) {
                        if (strpos($str, ':') === false) {
                            continue;
                        }

                        list($field, $string) = explode(':', $str, 2);

                        $field  = strtolower($field);
                        $string = preg_replace('/\n[\t\s]*/', ' ', trim($string));

                        switch ($field) {
                        case 'date';
                            $string                 = substr($string, 0, 128);
                            $result[$id]->date      = $string;
                            $result[$id]->timestamp = rcube_utils::strtotime($string);
                            break;
                        case 'to':
                            $result[$id]->to = preg_replace('/undisclosed-recipients:[;,]*/', '', $string);
                            break;
                        case 'from':
                        case 'subject':
                            $string = substr($string, 0, 2048);
                        case 'cc':
                        case 'bcc':
                        case 'references':
                            $result[$id]->{$field} = $string;
                            break;
                        case 'reply-to':
                            $result[$id]->replyto = $string;
                            break;
                        case 'content-transfer-encoding':
                            $result[$id]->encoding = substr($string, 0, 32);
                        break;
                        case 'content-type':
                            $ctype_parts = preg_split('/[; ]+/', $string);
                            $result[$id]->ctype = strtolower(array_first($ctype_parts));
                            if (preg_match('/charset\s*=\s*"?([a-z0-9\-\.\_]+)"?/i', $string, $regs)) {
                                $result[$id]->charset = $regs[1];
                            }
                            break;
                        case 'in-reply-to':
                            $result[$id]->in_reply_to = str_replace(["\n", '<', '>'], '', $string);
                            break;
                        case 'disposition-notification-to':
                        case 'x-confirm-reading-to':
                            $result[$id]->mdn_to = substr($string, 0, 2048);
                            break;
                        case 'message-id':
                            $result[$id]->messageID = substr($string, 0, 2048);
                            break;
                        case 'x-priority':
                            if (preg_match('/^(\d+)/', $string, $matches)) {
                                $result[$id]->priority = intval($matches[1]);
                            }
                            break;
                        default:
                            if (strlen($field) < 3) {
                                break;
                            }
                            if (!empty($result[$id]->others[$field])) {
                                $string = array_merge((array) $result[$id]->others[$field], (array) $string);
                            }
                            $result[$id]->others[$field] = $string;
                        }
                    }
                }
            }
            // VANISHED response (QRESYNC RFC5162)
            // Sample: * VANISHED (EARLIER) 300:310,405,411
            else if (preg_match('/^\* VANISHED [()EARLIER]*/i', $line, $match)) {
                $line   = substr($line, strlen($match[0]));
                $v_data = $this->tokenizeResponse($line, 1);

                $this->data['VANISHED'] = $v_data;
            }
        }
        while (!$this->startsWith($line, $key, true));

        return $result;
    }
```

```
DEBUG($request): A0006 UID FETCH 4,8,10,14,16,18,20,22,24 (UID RFC822.SIZE FLAGS INTERNALDATE BODY.PEEK[HEADER.FIELDS (DATE FROM TO SUBJECT CONTENT-TYPE CC REPLY-TO LIST-POST DISPOSITION-NOTIFICATION-TO X-PRIORITY)])


DEBUG($line): * 1 FETCH (INTERNALDATE "22-Oct-2023 18:13:00 +0000" RFC822.SIZE 2924 FLAGS (\Seen) UID 4 BODY[HEADER.FIELDS (DATE FROM TO SUBJECT CONTENT-TYPE CC REPLY-TO LIST-POST DISPOSITION-NOTIFICATION-TO X-PRIORITY)] {2}

)



DEBUG($line): * 2 FETCH (INTERNALDATE "22-Oct-2023 18:48:00 +0000" RFC822.SIZE 2939 FLAGS (\Seen) UID 8 BODY[HEADER.FIELDS (DATE FROM TO SUBJECT CONTENT-TYPE CC REPLY-TO LIST-POST DISPOSITION-NOTIFICATION-TO X-PRIORITY)] {2}

)



DEBUG($line): * 3 FETCH (INTERNALDATE "22-Oct-2023 18:50:03 +0000" RFC822.SIZE 122806 FLAGS (\Seen) UID 10 BODY[HEADER.FIELDS (DATE FROM TO SUBJECT CONTENT-TYPE CC REPLY-TO LIST-POST DISPOSITION-NOTIFICATION-TO X-PRIORITY)] {2}

)



DEBUG($line): * 4 FETCH (INTERNALDATE "25-Oct-2023 09:24:12 +0000" RFC822.SIZE 2972 FLAGS (\Seen) UID 14 BODY[HEADER.FIELDS (DATE FROM TO SUBJECT CONTENT-TYPE CC REPLY-TO LIST-POST DISPOSITION-NOTIFICATION-TO X-PRIORITY)] {2}

)



DEBUG($line): * 5 FETCH (INTERNALDATE "27-Oct-2023 18:53:22 +0000" RFC822.SIZE 2793 FLAGS (\Seen) UID 16 BODY[HEADER.FIELDS (DATE FROM TO SUBJECT CONTENT-TYPE CC REPLY-TO LIST-POST DISPOSITION-NOTIFICATION-TO X-PRIORITY)] {2}

)



DEBUG($line): * 6 FETCH (INTERNALDATE "27-Oct-2023 19:03:21 +0000" RFC822.SIZE 2592 FLAGS (\Seen) UID 18 BODY[HEADER.FIELDS (DATE FROM TO SUBJECT CONTENT-TYPE CC REPLY-TO LIST-POST DISPOSITION-NOTIFICATION-TO X-PRIORITY)] {2}

)



DEBUG($line): * 7 FETCH (INTERNALDATE "27-Oct-2023 19:43:21 +0000" RFC822.SIZE 2808 FLAGS (\Seen) UID 20 BODY[HEADER.FIELDS (DATE FROM TO SUBJECT CONTENT-TYPE CC REPLY-TO LIST-POST DISPOSITION-NOTIFICATION-TO X-PRIORITY)] {2}

)



DEBUG($line): * 8 FETCH (INTERNALDATE "30-Oct-2023 10:18:39 +0000" RFC822.SIZE 2803 FLAGS (\Seen) UID 22 BODY[HEADER.FIELDS (DATE FROM TO SUBJECT CONTENT-TYPE CC REPLY-TO LIST-POST DISPOSITION-NOTIFICATION-TO X-PRIORITY)] {2}

)



DEBUG($line): * 9 FETCH (INTERNALDATE "02-Nov-2023 19:37:29 +0000" RFC822.SIZE 2941 FLAGS (\Seen) UID 24 BODY[HEADER.FIELDS (DATE FROM TO SUBJECT CONTENT-TYPE CC REPLY-TO LIST-POST DISPOSITION-NOTIFICATION-TO X-PRIORITY)] {2}

)



DEBUG($line): A0006 OK UID FETCH completed

```

```
dbmail=# select id from dbmail_headername where headername='subject';
 id
----
(0 rows)
```

@alan-hicks 
shouldn't this be a filled table?!

```
dbmail=# select id from dbmail_headername;
 id
----
(0 rows)
```

![image](https://github.com/dbmail/dbmail/assets/1261332/5c370429-cd37-4480-96a6-e6277e8c9357)

it seems I had to set this in the config file:

header_cache_readonly = no

we need better documentation for `header_cache_readonly` config! @alan-hicks specifically in the installation docs!

Thanks for this, I've started some documentation but as you point out it needs to improve, especially for new installs/users. Thank you for persevering with dbmail.